RAILS_ENV=development
RAILS_LOG_LEVEL=debug
MAIL_FROM=hello@lesvendredis.casa
MAIL_REPLY_TO=hello@lesvendredis.casa
BOOKING_OWNER_EMAIL=hello@lesvendredis.casa
APP_HOST=localhost:3000
GA_MEASUREMENT_ID=G-HD3V7YWDWQ
RESEND_SMOKE_TO=delivered@resend.dev
