---
layout: page
title: "Les Vendredis"
seo_title: "A-frame à Sainte-Luce, Martinique | Les Vendredis"
description: "Réservez une A-frame artisanale avec jardin privé à Sainte-Luce, Martinique. Location de vacances tranquille sur la côte sud."
image: /public/images/cabane-aframe-jardin-fleurs-rouges-les-vendredis.jpg
lang: fr
locale: fr_FR
canonical_url: https://lesvendredis.casa/fr/
permalink: /fr/
scripts:
  - lightbox
translation_key: home
---

{% include hero-fr.html %}
{% include journal-preview-fr.html %}
{% include gallery.html %}
{% include hosts.html %}
{% include stay-details.html %}
{% include nearby.html %}
{% include faq-fr.html %}
{% include booking-fr.html %}
