RAILS_ENV=development
RAILS_LOG_LEVEL=debug
DATABASE_URL=postgres://localhost/les_vendredis_development
RESEND_API_KEY=stored-in-1password
MAIL_FROM=hello@lesvendredis.casa
APP_HOST=localhost:3000
AIRBNB_ICAL_URL=stored-in-1password
BOOKING_ICAL_URL=stored-in-1password
