/.bundle
/db/*.sqlite3
/log/*
/storage/*
/tmp/*
/public/assets

!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids
!/tmp/pids/.keep
!/tmp/storage
!/tmp/storage/.keep

/config/master.key
/config/credentials/*.key
/.env*
!/.env.example
